*{
  margin: 0;
  padding: 0;
}
.App{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=800");

}
/* .App::before{
  content: "";
  background-image: url("https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=800");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

} */
input{
  margin: 10px;
  text-align: center;
  height: 35px;
  width: 351px;
  display: block;
  margin: 10px 0px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 2px 2px 5px black;
}

button{
  margin: 10px 0px;
  width: 355px;
  height: 35px;
  border-radius: 6px;
  color: white;
  background-color: black;
  font-weight: bold;

}
h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 15px;
  color:bisque;
  text-shadow: 5px 5px 11px rgb(0, 0, 0);
}
.section1{
  background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=800");
  
  position: relative;
  top: 50px;
  left: 550px;
  /* margin: 50px 200px; */
  margin-bottom: 0;
  border-radius: 11px;
  border: 6px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 455px;
  height: 300px;
}

.section2{
  /* background-image: url("https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&w=800"); */
  color: rgb(221, 212, 212);
  display: block;
  position: relative;
  top: 100px;
  left: 78px;
  width: 50vw;
  text-shadow: 1px 1px 0px rgb(255, 255, 255);
}
table{
  width: 50vw;
}
